.block {
    width: 200px;
    height: 200px;
    background-color: deeppink;
    border: 2px solid;
}
.bigbox {
    background-color: bisque;
    
    /*display: flex;
    flex-wrap:wrap ;
    max-width: 600px; */
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 200px)
}

.--active {
    background-color: yellow;
}